# Dependency directories
node_modules/
/.pnp
.pnp.js

# Build outputs
/dist
/build
/out
/.next
/.nuxt
/.output

# Cache and logs
.cache/
.temp/
.vite/
.eslintcache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
*.local

# Testing
/coverage
/.nyc_output
/cypress/videos/
/cypress/screenshots/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
*.log
*.bak
*.tmp
*.temp
.thumbs.db
Thumbs.db
